<header class="sticky-top bgc-primary shadow-sm p-2 ps-4 pe-4">
    <div class="navbar navbar-dark  flex-fill d-flex">
        <div class="navbar-name">
            <!-- <div class="logo-img"><img src="assets/images/cp-logo.png" alt="logo"></div> -->
            <h5 class="text-white"> {{name  | titlecase}}</h5>
            
            <input type="text" placeholder="Search" (input)="onSearch($event)" class="btn-no-outline p-2 text-dark rounded-2">

        </div>
        <i (click)="logout()" class="fa fa-power-off" aria-hidden="true" ngbTooltip="signout"></i>
    </div>
   

</header>
