<div class="container">
    <legend>Job Portal</legend>
    <div class="row">
      <div class="col col-md-8" style="overflow-y: scroll; max-height: 100vh">
        <form [formGroup]="productForm" (ngSubmit)="save()">
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              formControlName="productName"
            />
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">Product Price</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              formControlName="productPrice"
            />
          </div>
          <div class="mb-3">
            <label for="productId" class="form-label">Product Id</label>
            <input
              type="number"
              class="form-control"
              id="productId"
              formControlName="productId"
            />
          </div>
          <div class="mb-3">
            <label for="productCategory" class="form-label">Product Category</label>
            <input
              type="text"
              class="form-control"
              id="productCategory"
              formControlName="productCategory"
            />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
        </form>
      </div>
      <!-- <div class="col col-md-4">
        <div style="position: fixed">{{ preview }}</div>
      </div> -->
    </div>
  </div>