
<div class="container">
    <div class="row">
        <div class="logo-img"><img src="assets/images/cp-logo.png" alt="logo"></div>
<form [formGroup]="userForm" (ngSubmit)="userlogin()" class="login_form">
    <h2 class="form_title">Login</h2> 

    <div class="form-group pb-3">
      <label for="useremail" class="form-label">User Email</label>
      <input
        type="text"
        class="form-control"
        id="useremail"
        formControlName="useremail"
      />
      <div *ngIf="userForm.get('useremail')?.invalid && userForm.get('useremail')?.touched">
        <p>Please enter a valid email address.</p>
      </div>
    </div>
    
    <div class="form-group pb-3">
        <label for="userpassword" class="form-label">User Password</label>
        <div class="password-input-container">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          class="form-control"
          id="userpassword"
          formControlName="userpassword"
        />
        <span class="password-toggle" (click)="togglePasswordVisibility()">
          <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
        </span>
        </div>
        <div *ngIf="userForm.get('userpassword')?.invalid && userForm.get('userpassword')?.touched">
          <div *ngIf="userForm.get('userpassword')?.hasError('required')">
           <p> Password is required.</p>
          </div>
          <div *ngIf="userForm.get('userpassword')?.hasError('minlength')">
           <p> Password should be at least 8 characters long.</p>
          </div>
          <div *ngIf="userForm.get('userpassword')?.hasError('pattern')">
           <p> Password should contain at least one lowercase letter, one uppercase letter, and one digit.</p>
          </div>
        </div>
      </div>
      <div class="form-group pb-3">
        <div class="checkbox" style="animationshow 0.5s ease-in;">
          <label><input type="checkbox" style="animation:show 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);"> Remember me</label>
    
         </div>
      </div>
      <div class="form-group">
      <button type="submit" [disabled]="!userForm.valid" class="p-2">Submit</button>
    </div>
    <div style="text-align: center;color: red;">
    <h3 style="text-decoration: underline;" routerLink="/usersform">Register</h3>
     </div>
    </form>
    </div>
    </div>