/* You can add global styles to this file, and also import other style files */
.primary {background-color: #0daff1;color:#000;}
.secondary {background-color: #b11111;color:#fff}
.primary:hover {background-color: #3fb9ea;color:#000;}
.secondary:hover {background-color: #cf1f1f;color:#fff}